<div class="container">
  <div class="row">
    <div class="col-8 offset-md-2 mt-3">
      <h1 class="text-center px2">About</h1>
      <p class="text-center">
        <i class="fas fa-map-marker-alt"></i><strong>Shere旅っと！</strong>
        は旅好き、写真好きが集い、交流するコミュニティサイトです!<br>
        旅行したいけどどこに行くか迷っている時、観光地の情報を知りたいという時に<br>
        おすすめです！
      </p>
      <p class="text-center">
        このサイトは交流が大きくなればより広い範囲のスポットの情報を共有することができます！<br>
      </p>
      <h2 class="text-center px-2">
        <strong>
          さあ、始めよう！<br>
          より良い旅のために！<i class="fas fa-paper-plane"></i>
        </strong>
      </h2>
    </div>
  </div>
</div>